    /*ion-content{
        //background-image: url("../assets/imgs/f2.png");
        background-color: #fdfdfd !important;
        font-family: 'Raleway'
    }
    //@import url('fonts.googleapis.com/css?family=Advent+Pro:400,200,700');
    p{
        font-size: 150%;
        font-weight: bold;
        color: #fdfdfd;
    }

    ion-item{
        background-color: #ffffff00;
    }
    
    ion-label{
        font-style: bold;
        font-family: "system" !important;
        font-size: 120%;
    }
    ion-input{
        font-style: bold;
        font-family: "system" !important;
        font-size: 120%;
    }
    ion-select{
        font-style: bold;
        font-family: "system" !important;
        font-size: 120%;
    }
    @font-face {
        font-family: system;
        font-style: normal;
        font-weight: 300;
        src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
             local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
             local("Roboto-Light"), local("DroidSans"), local("Tahoma");
      }
      
      /* Now, let's apply it on an element */
      /*body {
        font-family: "system";
      }*/